<div class="well well-sm">
  <div>
  <h5><%= current_user.email %></h5>
  </div>
</div>

<p>
<div class="col-md-8">
  <%= form_for [@user, @item] do |f| %>
    <%= f.text_field :name, placeholder: "New Item"  %>
    <%= f.submit "Save" %>
  <% end %>
    <div class="form-group" >
    </div>
  </div>
</p>

<div class="row">
  <div class="col-md-8">
    <ul class="list-group">
      <% @items.each do |item| %>
        <div id="item-<%=item.id%>">
          <li type="list" class="list-group-item"><%= item.name %></li>
          <span><%= link_to "", [@user, item], method: :delete, class: 'glyphicon glyphicon-ok', remote: true %></span>
        </div>
      <% end %>
    </ul>
  </div>
</div>
