<div class="well well-sm">
  <div>
  <h5><%= @user.email %></h5>
  </div>
</div>

<p>
<div class="col-md-8">
  <%= form_for [@user, @item] do |f| %>
    <%= f.text_field :name, placeholder: "New Item"  %>
    <%= f.submit "Save" %>
  <% end %>
    <div class="form-group" >
    </div>
  </div>
</p>

<div class="row">
  <div class="col-md-8">
      <% @items.each do |item| %>
        <div id="item-<%=item.id%>">
          <h4><small><li type="list" class="list-group-item"><%= link_to "", [@user, item], method: :delete, class: 'glyphicon glyphicon-ok', remote: true %> </small><%= item.name %> <small>Created <%= time_ago_in_words(item.created_at)%> ago</small></h4></li>
        </div>
      <% end %>
  </div>
</div>
